:root {
    --color-bg: #161616;
    --color-text: #b29146;
    --color-accent: #323232;

    --transition-time-normal: .2s;

    --font-size: 16;

    --border-radius-normal: .5em;

    --opacity-transparancy-normal: .5;
}

html {
    font-family: Sans-serif;
    font: Helvetica;
    font-size: var(--font-size);
    height: 100%;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* main */
main {
    flex: 1;
    margin-top: 3em;
}

h1 {
    text-align: center;
    font-size: clamp(1.5rem, calc(5vw + 1rem), 4rem);
    margin-top: 1em;
}

h2 {
    text-align: center;
    font-size: clamp(1.2rem, calc(4vw + .5rem), 3rem);
}

img {
    border-radius: var(--border-radius-normal);
}

/* links */
a {
    color: var(--color-text);
    text-decoration: underline;
    transition: var(--transition-time-normal) ease;
}

a:hover {
    opacity: var(--opacity-transparancy-normal);
    text-decoration: none;
    transition: var(--transition-time-normal) ease;
}

address {
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
}

/* header */
.header {
    box-sizing: border-box;
    display: grid;
    z-index: 100;
    grid-template-columns: 1fr max-content;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: .5em;
    margin: 0;
    background-color: var(--color-accent);
    border-bottom: .1rem var(--color-text) solid;
}

.header p, .header a {
    font-weight: bold;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
    font-size: clamp(.1rem, calc(1vw + .5rem), 2rem);
}

.header .side-links, .header .social-links {
    display: flex;
    gap: 1em;
    box-sizing: border-box;
    font-size: 1.2rem;
    margin-top: auto;
    margin-bottom: auto;
}

.header img {
    height: clamp(.1rem, calc(2vw + .5rem), 2rem);
    vertical-align: middle;
}

.social-links {
    margin-left: auto;
    margin-right: 0;
}

.social-links svg {
    fill: var(--color-text);
    height: 1.75rem;
}

/* background */
.background {
    background-image: url(../image/site-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    aspect-ratio: 2 / 1;
    border-bottom: .1rem var(--color-text) solid;
}

/* footer */
.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: min-content;
    background-color: var(--color-accent);
    font-size: 1rem;
    border-top: .1rem var(--color-text) solid;
    margin-top: 2em;
    padding: 1em;
}

.footer .logo {
    margin: auto;
    width: 40%;
}

.footer p {
    margin: auto;
    text-align: center;
}

.footer .social-links {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

/* alignment */
.half {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media(max-width: 700px) {
    .half {
        grid-template-columns: 100%;
    }

    .header {
        grid-template-columns: 100%;
    }

    .header .social-links {
        display: none;
    }

    .footer {
        grid-template-columns: 100%;
    }

    .footer .social-links {
        margin-top: 1em;
    }

    main {
        margin-top: 5vh;
    }
}
